<% layout("/layouts/boilerplate")%>
<!-- <div class="row"> -->
<div class="col-8 offset-2">

  <h3>Create a New Listing</h3>
<form method="POST" action="/listings" novalidate class=" needs-validation" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="title" class="form-label">Enter Title</label>
    <input name="listing[title]" placeholder="Add a catchy Title" type="text" class="form-control" required />
    <div class="valid-feedback">Title looks good!</div>
  </div>
      
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea
      name="listing[description]"
      class="form-control"
    required
    ></textarea>
  </div>
  
  <div class="mb-3">
    <label for="image" class="form-label">Upload Image </label>
    <input
      name="listing[image]"
      type="file"
      class="form-control"
    />
    required
  </div>
  <div class="row">
  <div class="mb-3 col-md-4">
    <label for="price" class="form-lebel" >Price</label>
    <input name="listing[price]" placeholder="Enter price" type="number" class="form-control"  required/>
    <div class="invalid-feedback">please Enter the price</div>
  </div>
  <div class="mb-3 col-md-8">
    <label for="country" class="form-label">Country</label>
    <input name="listing[country]" placeholder="Enter country" type="text" class="form-control" required />
    <div class="invalid-feedback">Country name should be valid</div>
  </div>
  <div class="mb-3">
    <label for="location" class="form-label">Location</label>
    <input
      name="listing[location]"
      placeholder="Enter location"
      type="text"
      class="form-control"
      required
      />
    <div class="invalid-feedback">Location should be valid</div>
  </div>
  </div>
  <div class="mb-3">
   <p>Select Category</p>
          <div class="d-flex flex-wrap gap-2">
            <input type="radio" class="btn-check" id="btn-check-1" value="trending" autocomplete="off"
              name="listing[category]">
            <label class="btn btn-outline-dark rounded-pill shadow-sm" for="btn-check-1">Trending <i
                class="fa-solid fa-fire-flame-curved"></i></label>

            <input type="radio" class="btn-check" id="btn-check-2" value="rooms" autocomplete="off"
              name="listing[category]">
            <label class="btn btn-outline-dark rounded-pill shadow-sm" for="btn-check-2">Rooms <i
                class="fa-solid fa-bed"></i></label>

            <input type="radio" class="btn-check" id="btn-check-3" value="amazing views" autocomplete="off"
              name="listing[category]">
            <label class="btn btn-outline-dark rounded-pill shadow-sm" for="btn-check-3">Amazing Views <i
                class="fa-solid fa-wand-sparkles"></i></label>

            <input type="radio" class="btn-check" id="btn-check-4" value="iconic cities" autocomplete="off"
              name="listing[category]">
            <label class="btn btn-outline-dark rounded-pill shadow-sm" for="btn-check-4">Iconic Cities <i
                class="fa-solid fa-mountain-city"></i></label>

            <input type="radio" class="btn-check" id="btn-check-5" value="castles" autocomplete="off"
              name="listing[category]">
            <label class="btn btn-outline-dark rounded-pill shadow-sm" for="btn-check-5">Castles <i
                class="fa-solid fa-fire-flame-curved"></i></label>

            <input type="radio" class="btn-check" id="btn-check-6" value="amazing pools" autocomplete="off"
              name="listing[category]">
            <label class="btn btn-outline-dark rounded-pill shadow-sm" for="btn-check-6">Amazing Pools <i
                class="fa-solid fa-person-swimming"></i></label>

            <input type="radio" class="btn-check" id="btn-check-7" value="camping" autocomplete="off"
              name="listing[category]">
            <label class="btn btn-outline-dark rounded-pill shadow-sm" for="btn-check-7">Camping <i
                class="fa-solid fa-campground"></i></label>

            <input type="radio" class="btn-check" id="btn-check-8" value="farms" autocomplete="off"
              name="listing[category]">
            <label class="btn btn-outline-dark rounded-pill shadow-sm" for="btn-check-8">Farms <i
                class="fa-solid fa-tractor"></i></label>

            <input type="radio" class="btn-check" id="btn-check-9" value="arctic" autocomplete="off"
              name="listing[category]">
            <label class="btn btn-outline-dark rounded-pill shadow-sm" for="btn-check-9">Arctic <i
                class="fa-solid fa-snowflake"></i></label>
          </div>
        </div>       
  <button  class="btn btn-dark add-btn">Add</button>
</form>
 </div>


